<!DOCTYPE html>
<html>
<head>
  <title>Thejakery</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="row heading">
    <div class="col-md-4">
      <div class="media centerpiece">
        <a class="media-left media-middle" href="index.html">
          <img src="jakerylogo.png">
        </a>
        <div class="media-body heading-body">
          <h4 class="media-heading heading-title">Jake Novick-Finder</h4>
          <p class="heading-info">Pastry Chef &#8226 Bread Baker &#8226 Ice Cream Expert<br>
            BROOKLYN, NY
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        <ul class="list-inline social-links">
          <li>
            <a href="https://twitter.com/thejakery" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
          </li>
          <li>
            <a href="https://www.facebook.com/jnovickfinder" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
          </li>
          <li>
            <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a>
          </li>
          <li>
            <a href="https://www.linkedin.com/pub/jake-novick-finder/34/818/827" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
          </li>
        </ul>
      </div>
      <div class="row">
        <nav class="navbar navbar-inverse" role="navigation">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li><a href="index.html">ABOUT</a></li>
                <li><a href="press.html">PRESS</a></li>
                <li><a href="recipes.html">RECIPES</a></li>
                <li><a href="contact.html">CONTACT</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>

    </div>
  </div>

<%= yield %>

</body>
</html>
